.wsp-editor {
    input,
    button,
    div,
    a:focus {
        outline: none;
    }
    .wsp-title-input {
        height: 48px;
        width: 100%;
        display: block;
        font-size: 16px;
        border: 1px solid #ccc;
        border-bottom: none;
        padding-left: 30px;
        box-sizing: border-box;
        color: #ccc;
        &::-webkit-input-placeholder {
            color: red;
        }
        &::-moz-placeholder {
            color: red;
        }
        &::-ms-input-placeholder {
            color: red;
        }
    }
    .wsp-tool-bar {
        width: 100%;
        display: block;
        height: 32px;
        line-height: 32px;
        background-color: #f2f2f4;
        border-left: 1px solid #ccc;
        ;
        border-right: 1px solid #ccc;
        ;
        box-sizing: border-box;
        >label {
            margin-right: 15px;
            cursor: pointer;
            &.active {
                color: #79b8f5;
            }
            &.title {
                color: #79b8f5;
            }
            &.bold {
                color: #79b8f5;
            }
        }
    }
    .wsp-content-area {
        width: 100%;
        display: block;
        min-height: 300px;
        border: 1px solid #ccc;
        border-top: none;
        padding: 0 10px 20px 10px;
        box-sizing: border-box;
        overflow-y: auto;
        .wsp-img-container {
            position: relative;
            img {
                display: block;
                max-width: 375px !important;
                margin-left: auto;
                margin-right: auto;
            }
            input {
                margin-top: 5px;
                display: block;
                width: 375px;
                height: 32px;
                margin-left: auto;
                margin-right: auto;
                text-align: center;
                border: none;
                border-radius: 4px;
                font-size: 12px;
                &:focus {
                    border: 1px solid #79b8f5;
                }
            }
            .img-des {
                position: absolute;
                left: 50%;
                right: 0;
                top: calc(100% - 70px);
                background-color: rgba(0, 0, 0, 0.3);
                width: 375px;
                height: 30px;
                line-height: 30px;
                transform: translate(-50%);
            }
        }
    }
    .display-none {
        display: none;
    }
}